:root{
    --second-color:#01B4E4
}
*{
    cursor: default;
    margin: 0;
    padding: 0;
}
.title{
    transition: 0.3s ease;
}
.title:hover{
    color: var(--second-color);
}
.card-img-container{
    overflow: hidden;
}
.card-img-container img{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.card-img-container:hover img{
    transform: scale(1.1);
}
#M{
    color: rgb(255, 0, 55);
}
#N{
    color: aqua;
}
.searchcontainer{
    gap: 10px;
    display: flex;
    justify-content: center;
}